PORT=8080
PGHOST=postgres
PGPORT=5432
PGDATABASE=mcpanel
PGUSER=mcpanel
PGPASSWORD=mcpanel_password
DATABASE_URL=
JWT_SECRET=supersecretjwt
JWT_REFRESH_SECRET=supersecretrefresh
SERVERS_BASE_DIR=/data/servers

